@import "./variables.scss";
@import "./transition.scss";
@import "./nprogress.scss";

@mixin line-hidden($line-clamp: 1) {
  display: -webkit-box !important;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
