html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p
// input,
// button,
// dl,
// dt,
// dd,
// ul,
// li,
// ol,
// form,
// th,
// td
{
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  min-width: 1200px;
  width: 100%;
  height: 100%;
  color: #333;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "PuHuiTi-Regular", "DIN-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
}

ol,
ul {
  list-style: none;
}

img {
  display: block;
  border: 0;
}

a {
  color: #333;
  display: block;
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

// DIN-Regular字体（主要应用英文&数字）
@font-face {
  font-family: "DIN-Regular";
  src: url("~@/static/fonts/DIN-Regular.otf") format("opentype");
}

// PuHuiTi-Regular字体（主要应用中文）
@font-face {
  font-family: "PuHuiTi-Regular";
  src: url("~@/static/fonts/PuHuiTi-Regular.ttf") format("truetype");
}

// 输入框样式设置
input {
  font-family: "PuHuiTi-Regular", "DIN-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// // 设置滚动条的样式
// ::-webkit-scrollbar {
//     width: 6px;
//     height: 6px;
// }

// // 滚动槽
// ::-webkit-scrollbar-track {
//     background-color: #ddd;
//     border-radius: 6px;
// }

// // 滚动条滑块
// ::-webkit-scrollbar-thumb {
//     background-color: #999;
//     border-radius: 6px;
// }
