@import "./hairline.scss";
@import "./variables.scss";

@mixin line-hidden($line-clamp: 1) {
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line-clamp;
}

@mixin safe-area() {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
